<div class="jumbotron my-jumb">
  <div class="row">
   <div class="col">
    <h2 class="display-5">Produtos Disponiveis</h2>
   </div>
   <div class="col-md-lg-2 ">
 <%= form_tag products_path, :method => 'get' do%>
<%= text_field_tag :search, params[:search]%>
<%= submit_tag "Pesquisar", class:"btn btn-outline-success my-2 my-sm-0"%>
<%end%>
  </div>
 </div>    
</div>

<style>
.my-jumb {
  height: 1px;

}
</style>

<ul class="nav justify-content-end"> 
  <li class="nav-item">
<button type="button" class="btn btn-light"><%= link_to 'Novo Produto', new_product_path %></button>
  </li>
</ul>

<div class="container bg-light">
  <div class="row">
    <div class="col-sm-2">Produto</div>
    <div class="col-sm-2">Nome</div>
    <div class="col-sm-2">Categoria</div>
    <div class="col-sm-2">Quantidade</div>
  </div>
</div>
<p>
    <% @products.each do |product| %>
<div class="container">
  <div class="row ">
    <div class="col-sm-2 "><%= image_tag product.image.url(:thumb) %></div>
      <div class="col-sm-2"><%= link_to product.name, product_path(product) %></div>
    <div class="col-sm-2"><%= product.category %></div>
    <div class="col-sm-2"><%= product.quantity %></div> 
    <div class="col-sm-2"><button type="button" class="btn btn-light"><%= link_to 'Modificar', edit_product_path(product) %></button></div> 
    <div class="col-sm-2"><button type="button" class="btn btn-light"><%= link_to 'Excluir', product, method: :delete, data: { confirm: 'Tem certeza?' } %></button></div> 
    <br />
  
    <% end %>
<br>

