<p id="notice"><%= notice %></p>

<div class="jumbotron my-jumb">
  <div class="row">
   <div class="col">
    <h2 class="display-5">Informações do Produto</h2>
   </div>
   <div class="col-md-lg-2 ">
     <h1> <%= @product.name %></h1>
  </div>
 </div>    
</div>

<div class="container">
  <div class="row ">
  <div class="col-sm-4 "><%= image_tag @product.image.url(:medium) %></div>
<div class="col-sm-4">
<p>
<p>
  <h2><strong>Name:</strong>
  <%= @product.name %></h2>
</p>

<p>
  <h2><strong>Category:</strong>
  <%= @product.category %></h2>
</p>

<p>
  <h2><strong>Quantity:</strong>
  <%= @product.quantity %></h2>
</p>

<p>
  <h2><strong>Price:</strong>
 R$ <%= @product.price %> </h2>
</p>

</div>
</div>
</div>
<p>
  <h2><strong>Description:</strong>
  <%= @product.descritpion %></h2>
</p>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
