<!DOCTYPE html>
<html>
<head>
  <title>Lojinha</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<tr>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

</body>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark my-nav justify-content-end">
   <div class="conteiner-fluid ">
        <%= link_to 'Login', user_session_path, class:"navbar-brand" %>
        <%= link_to 'Cadastrar', new_user_registration_path, class:"navbar-brand" %>
        <%= link_to 'Sair', destroy_user_session_path, method: :delete, class:"navbar-brand" %>
  </div>
  </nav>

  <style>.
 body { 
margin: 30px;

 }
.my-nav {
background-color: #836FFF

}
.my-col-1{
c #363636

}
.my-row {
  height: 1000px;
}

.my-col{
    height: 1000px;
 background-color: #363636
}

</style>

  <div class="row my-row">
    <div class="col col-lg-2  my-col">
       <div class="container my-conteiner">
       <p>
            <p><%= link_to 'Produtos', products_path, class: "btn btn-lg btn-block bg-light " %></p>
          <li class="dropdown">
  <button class="btn bg-light btn-lg btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Categotia
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
    <p><%= link_to 'Todos', products_path, class: "dropdown-item dropdown-item-lg" %></p>
    <p><%= link_to 'Comida', products_path(category:"Comida"),class:"dropdown-item " %></p>
    <p><%= link_to 'Bebida', products_path(category:"Bebida"),class:"dropdown-item" %></p>
    <p><%= link_to 'Limepza', products_path(category:"Limpeza"),class:"dropdown-item" %></p>
    <p><%= link_to 'Higiene', products_path(category:"Higiene"),class:"dropdown-item" %></p>
    
  </div>
</li>
        </tr>
    </div>
  </div>


<p c ass="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
    <div class="col">
      <%= yield %>
    </div>
</body>
</html>
